.conteudo_contato p{
    padding: 4px 0px;
    margin: 4px 0px;
}
.container{
    max-width: 800px;
    min-width: 800px;
    margin: auto;
}
.conteudo_contato{
    padding: 5px 0;
    margin: 15px 0;
} 