body{
    font-family: 16px , Verdana, Tahoma, sans-serif;
}
.conteudo_contato p{
    padding: 4px 0px;
    margin: 4px 0px;
    font-family: Verdana, Tahoma, sans-serif  ;
}
.container{
    max-width: 800px;
   
    margin: auto;
    font-family: 16px ,Verdana, Tahoma, sans-serif;
}
.conteudo_contato{
    
    margin: 15px 0px;
  
} 

main{
    padding: 0 30px;
    margin: 30 0 0 0;
}


h5.white-text.l20{
    padding: 0;
    margin: 0px;
 
    font-family: Verdana, Tahoma, sans-serif;
}

.page-footer.darken-4 {
    padding:  5px 30px;
}

p{
    
   
    text-align: justify;
}
h5 {
    font-size: 0.6rem;
    line-height: 120%;
    margin: 0rem  5% 0.4em 5%;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif;
    
  
  }

.footer-copyright{
    margin: 0%;
    padding: 0;
}
.footer-copyright p{
    margin: 0%;
    padding: 0;
}
.footer-copyright .footer{
   
    margin: 10px 0;
    font-size: smaller;
}
.footer  p{
    margin: 0px;
}
.footer{
    margin: 0%;
}

.col.l24.s12.m12 {
    padding: 0%;

}
