.documentos img{
    width: 28px;
    padding: 0;
    margin: 5px 0;
    margin-right: 5px;
}
.documentos a {
    color: black;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
 
}

.documentos a:hover{
    color: rgb(56, 44, 44);
   
}
.documentos-2{
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}


h5 {
 
    font-size: 0.6em;
    line-height: 14px;
  
  }

  .conteudo_documento{
    width: 800px;
    margin-top: 20px ;
  }
.container{
    max-width: 800px;
    min-width: 800px;
    margin: auto;
}
main{
    margin: 10px 0px 20px 0px;
}
.footer{
    margin: 0px;
    text-align: justify;
}


h5.white-text.l20{
    padding: 0;
    margin: 0px;
 
    font-family: Verdana, Tahoma, sans-serif;
}

.page-footer.darken-4 {
    padding:  5px 30px;
}

p{
    
   
    text-align: justify;
}
h5 {
    font-size: 0.6rem;
    line-height: 120%;
    margin: 0rem  5% 0.4em 5%;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif;
    
  
  }

.footer-copyright{
    margin: 0%;
    padding: 0;
}
.footer-copyright p{
    margin: 0%;
    padding: 0;
}
.footer-copyright .footer{
   
    margin: 10px 0;
    font-size: smaller;
}
.footer  p{
    margin: 0px;
}
.footer{
    margin: 0%;
}

.col.l24.s12.m12 {
    padding: 0%;

}