.documentos img{
    width: 28px;
}
.documentos a {
    color: black;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
 
}

.documentos a:hover{
    color: rgb(56, 44, 44);
   
}
.documentos-2{
    width: 90%;
    word-wrap: break-word;
    white-space: normal;
}
