
th{
    color: #01648B
  }
  td{
    color: rgb(25, 27, 32);
  }
  
  
  .footer{
    margin: 0%;
}
  .tabela{
    max-width: 950px;
    margin: 2.2em auto;
    overflow-x: auto;
    margin-top: 6em;
    font-size: 1.2em;
    text-align: end;
    
  }
  
  .container{
    margin: auto;
    max-width: 815px;
    

  }
  
  .tabela{
    width:800px;
    margin: 1auto;
    text-align: end;
}
.row{
    padding: 0%;
    margin: 0;
}

  

h5.white-text.l20{
    padding: 0;
    margin: 0  ;
   
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 120%
}

.page-footer.darken-4 {
    padding: 5px 30px;
 
}

p{
    
   
    text-align: justify;
}
h5 {
    font-size: 0.6rem;
    line-height: 120%;
    margin: 0rem  5% 0.4em 5%;
    text-align: justify;
    font-family: Verdana,  Tahoma, sans-serif;
    
  
  }

.footer-copyright{
    margin: 0%;
    padding: 0;
}
.footer-copyright p{
    margin: 0%;
    padding: 0;
}
.footer-copyright .footer{
   
    margin: 20px 0;
    font-size: smaller;
}
.footer  p{
    margin: 0px;
}


.col.l24.s12.m12 {
    padding: 0%;

}


  @media only screen and (max-width: 933px) {
    .tabela{
        width:700px;
        margin: 2em auto;
        text-align: end;
    }
  .container {
    margin: 0 auto;
    max-width: 700px;
   
  }

  .page-footer.darken-4 {
    padding: 7%;
}


 
}    
main{
    margin: 35px 0 15px 0;
}