.relatorioCelular{
    display: none;
}

@media screen and (max-width: 600px) {
    .relatorioCelular{
        display: block;
    }
    .table_relatorios{
        display: none;
    }
}

h5 {
 
    font-size: 0.6em;
    line-height: 14px;
  
  }